body
{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

img {
    border: none;
    border-radius: 0px;
    padding: 0px;
    width: 0px;
}

.btext{
	color: #f9f3f4;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	line-height: 0.4px;
}

h1{
	font-size: 40px;
}

#particles-js{
	height: 100%;
	background: #252525;
}
